<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <a href="#/"><img alt="logo" src="{{ img_src }}" height="80px" width="80px"></a> -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>  
        </div>
        <a class="navbar-brand" href="#/">Nshare</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/about">About</a></li>
                <li><a href="">Download Project</a></li>
            </ul>
        </div>
    </div>
</nav>