<ng-include src="'partials/menu.html'"></ng-include>
<div id="container" class="container">
    <div class="blog-post-label">Blog Entry</div>
    <div class="blog-entry-wrapper">
        <div class="blog-intro-text">Posted: {{ blogEntry.date * 1000 | date:'dd/MM/yyyy @ h:mm' }}</div>
        <div class="blog-entry-outer">
            <div class="blog-intro-text">{{ blogEntry.blog_text }}</div>
        </div>
        <div class="blog-entry-comment-wrapper" id="blog_entry_comment">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <div class="blog-entry-comment" ng-repeat="comment in comments">
                {{ comment.comment_text }}
                {{ comment.date * 1000 | date: 'dd/MM/yyyy @ h:mm' }}
                <img ng-if='comment.assets && comment.assets != null' src="{{ comment.assets[0] }}" style="float: left; width: 200px; height: 200px;">
                <details class="options_message_{{ comment.id }}">
                    <summary></summary>
                    <details-menu>  
                        <input class="submit" type="button" value="Edit" ng-click="editMessage(comment.id)">
                        <input class="submit" type="submit" value="Delete" ng-click="delete_comment(comment.id)">
                    </details-menu>
                </details>
                <div class="update-blog-write-comment" id="update_{{ comment.id }}">
                    <textarea class="update_comment_text" id="comment_text_{{ comment.id }}" placeholder="Leave a comment"></textarea>
                    <input class="submit" type="submit" name="update_comment_text" value="Cancel" ng-click="cancelComment(comment.id)">
                    <input class="submit" type="submit" name="update_comment_text" value="Update Comment" ng-click="edit_comment(comment.id)">
                </div>
            </div>
            <!-- <p ng-if="comments.length < limit" style="text-align: center;">You already updated</p> -->
        </div>
        <div class="blog-comment-wrapper">
            <div class="blog-comment-label">Blog Comments</div>
            <div class="blog-write-comment">
                <textarea class="comment_text" id="comment_text" placeholder="Leave a comment"></textarea>
                <input type="file" name="asset_comment" id="asset_comment" accept=".jpg, .jpeg, .png">
                <input class="submit" type="submit" name="comment_text" value="Comment" ng-click="comment()">
            </div>
        </div>
    </div>
</div>